body{
    font-family: "Poppins", sans-serif;
    
}

.nav{
    padding-bottom: 20px;
}

.logo{
    width: 10px;
}
.logo img{
    padding-right: 10%;
    margin-right: 10%;
    width: 100px;
    position: absolute;
}


.nav-left{
    position: absolute;
    padding-left: 20vw;
    padding-right: 10%  ;
    margin-top: 40px;
    display: flex;
    flex-direction: grid;
    justify-content: left;
}
.user{
    padding-left: 30px;
    width: 25px;
}
.nbutton {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-left: 25px;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nbutton:visited {
    color: #4F4A45;
}

.nbutton:hover {
    border-bottom: 2px solid #4F4A45;
}




.menu{
    margin-left: 10px;
    padding-top: 20%;
}


@media (min-width: 1000px) {
    @media (min-width: 1000px) {
        
        .nav-left {
            position: absolute;
            padding-left: 70vw;
            margin-top: 40px;
            display: flex;
            flex-direction: grid;
            justify-content: left;
            font-size: 2.5vmin;
        }
        
        .nbutton {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            margin-left: 25px;
            text-decoration: none;
            border: 2px solid transparent;
            padding: 5px;
            transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }
    }
}


/*form*/

form{
    border: 1px solid;
    border-radius: 50px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20vh;
}
form h2{
    text-align: center;
}

.report_date{
    margin-top: 50px;
    margin-left:20px;
    margin-bottom: 0px;
}
.report_date input{
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
    height: 35px;
    margin-left: 20px;
    box-sizing: border-box;
    max-width: 50%;
}

.report_address{
    margin-left:20px;
    margin-bottom: 0px;
}
.report_address textarea{
    border: 1px solid;
    border-radius: 50px;
    font-size: 15px;
    margin-left: 20px;
    box-sizing: border-box;
    max-width: 60%;
    min-width: 60%;

}
.letter{
    margin-left: 20px;

}
.letter textarea{
    border: 1px solid;
    border-radius: 50px;
    font-size: 15px;
    margin-left: 20px;
    box-sizing: border-box;
    max-width: 60%;
    min-width: 60%;

}

@media (min-width: 1000px) {
    @media (min-width: 1000px) {
        
        .report_address textarea{
            border: 1px solid;
            border-radius: 10px;
            font-size: 15px;
            margin-left: 20px;
            box-sizing: border-box;
            min-width: 40%;
            max-width: 40%;
        }
        .letter textarea{
            border: 1px solid;
            border-radius: 10px;
            font-size: 15px;
            margin-left: 20px;
            box-sizing: border-box;
            min-width: 93%;
        }   
    }
}